<!DOCTYPE html>
<html>
  <head>
    <title>Receipt</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/newHero.png">
  </head>
  <body>
    <h1>Verification Link Sent</h1>
    <p>A verification link has been sent to your email address. Please check your inbox and follow the instructions provided to reset your password.</p>
  </body>
</html>